@{
    ViewData["Title"] = "Relationship";
}
<div>
    @{
        foreach(var error in ViewBag.errors)
        {
            if(@error.Errors.Count > 0)
            {
                <p>@error.Errors[0].ErrorMessage</p>
            }
        }
    }
</div>
<h1>Add a new relationship</h1>
<form action="/addrelationship" method="post">
    <input type="hidden" name="users_idusers" id="relationshipcustomer" value="@ViewBag.userID">
    <label for="relationshipproduct">Product:</label>
    <input type="number" name="products_idproducts" id="relationshipproduct" value="">
    <label for="relationshipquantity">Initial Quantity:</label>
    <input type="number" name="quantity" id="relationshipquantity" value="">
    <input type="submit" value="relationship">
</form>
<h1>All relationships</h1>
<table>
    <tr>
        <th>Customer Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Date</th>
    </tr>
    @foreach(var relationship in @ViewBag.Allrelationships)
    {
        <tr>
            <td>@relationship.username</td>
            <td>@relationship.name</td>
            <td>@relationship.quantity</td>
            <td>@relationship.created_at.ToString("MM/dd/yyyy")</td>
        </tr>
    }
</table>